{% extends 'adminproducts.html'%}
{% block products %}Delete {{ product.item_name }}{% endblock %}
{% block content%}


<form action="." method="POST">
    {%csrf_token%}
    <h1>Are you sure you want to delete this product?</h1>
    <p><input type="submit" value="Yes" /><a href="../">Cancel</a></p>
</form>
{% for product in all_products %}

<h6>{{product.store_count}}</h6>
<h6>{context: product.item_sold}</h6>

<a href="/dashboard/product/edit/{{product.id}}">Edit</a>
<a href="/dashboard/product/delete/{{product.id}}">Delete</a>

{% endfor %}
{% endblock %}